In [1]:
%cd './..'
import pandas as pd

/home/masikol/main/Sc2

In [2]:
df = pd.read_csv('./data/dataset.csv', sep = ';')
df

,date,player,player_race,player_score,player_id,opponent,opponent_race,opponent_score,opponent_id,score_match,tier,url,tournament
0,01/18/2026,Rogue,Z,2.0,1662.0,Oliveira,T,0.0,10115.0,2–0,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
1,01/18/2026,MMA,T,0.0,28.0,DRG,Z,2.0,4.0,0–2,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
2,01/18/2026,herO,P,4.0,233.0,Reynor,Z,3.0,5414.0,4–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
3,01/18/2026,Clem,T,2.0,5878.0,Reynor,Z,3.0,5414.0,2–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
4,01/18/2026,herO,P,3.0,233.0,Solar,Z,1.0,1793.0,3–1,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25937,11/09/2024,Bludstain,R,0.0,25513.0,Patches,T,2.0,22423.0,0–2,B,http://aligulac.com/results/events/149103,https://liquipedia.net/starcraft2/Dave_Testa_O...
25938,11/09/2024,Trap,P,3.0,177.0,Classic,P,4.0,186.0,3–4,B,http://aligulac.com/results/events/149093,https://liquipedia.net/starcraft2/SOOP_StarCra...
25939,11/09/2024,Classic,P,3.0,186.0,Cure,T,1.0,1665.0,3–1,B,http://aligulac.com/results/events/149093,https://liquipedia.net/starcraft2/SOOP_StarCra...
25940,11/09/2024,Trap,P,3.0,177.0,GuMiho,T,1.0,44.0,3–1,B,http://aligulac.com/results/events/149093,https://liquipedia.net/starcraft2/SOOP_StarCra...
25941,11/09/2024,GuMiho,T,3.0,44.0,Zoun,P,4.0,2053.0,3–4,B,http://aligulac.com/results/events/149096,https://liquipedia.net/starcraft2/SOOPer7s/18

In [3]:
df['date'] = pd.to_datetime(df['date'])
df

,date,player,player_race,player_score,player_id,opponent,opponent_race,opponent_score,opponent_id,score_match,tier,url,tournament
0,2026-01-18,Rogue,Z,2.0,1662.0,Oliveira,T,0.0,10115.0,2–0,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
1,2026-01-18,MMA,T,0.0,28.0,DRG,Z,2.0,4.0,0–2,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
2,2026-01-18,herO,P,4.0,233.0,Reynor,Z,3.0,5414.0,4–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
3,2026-01-18,Clem,T,2.0,5878.0,Reynor,Z,3.0,5414.0,2–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
4,2026-01-18,herO,P,3.0,233.0,Solar,Z,1.0,1793.0,3–1,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25937,2024-11-09,Bludstain,R,0.0,25513.0,Patches,T,2.0,22423.0,0–2,B,http://aligulac.com/results/events/149103,https://liquipedia.net/starcraft2/Dave_Testa_O...
25938,2024-11-09,Trap,P,3.0,177.0,Classic,P,4.0,186.0,3–4,B,http://aligulac.com/results/events/149093,https://liquipedia.net/starcraft2/SOOP_StarCra...
25939,2024-11-09,Classic,P,3.0,186.0,Cure,T,1.0,1665.0,3–1,B,http://aligulac.com/results/events/149093,https://liquipedia.net/starcraft2/SOOP_StarCra...
25940,2024-11-09,Trap,P,3.0,177.0,GuMiho,T,1.0,44.0,3–1,B,http://aligulac.com/results/events/149093,https://liquipedia.net/starcraft2/SOOP_StarCra...
25941,2024-11-09,GuMiho,T,3.0,44.0,Zoun,P,4.0,2053.0,3–4,B,http://aligulac.com/results/events/149096,https://liquipedia.net/starcraft2/SOOPer7s/18

In [4]:
df = df.drop(columns = ['player_id', 'opponent_id', 'score_match', 'url', 'tournament'])
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S
...,...,...,...,...,...,...,...,...
25937,2024-11-09,Bludstain,R,0.0,Patches,T,2.0,B
25938,2024-11-09,Trap,P,3.0,Classic,P,4.0,B
25939,2024-11-09,Classic,P,3.0,Cure,T,1.0,B
25940,2024-11-09,Trap,P,3.0,GuMiho,T,1.0,B
25941,2024-11-09,GuMiho,T,3.0,Zoun,P,4.0,B

In [5]:
print(df.shape)
df = df[df['player_score'] != df['opponent_score']].reset_index(drop = True)
print(df.shape)

(25942, 8)
(25229, 8)

In [6]:
add_rows = []

for it, row in df.iterrows():
    add_rows.append({
        'date' : row['date'],
        'player' : row['opponent'],
        'player_race' : row['opponent_race'],
        'player_score' : row['opponent_score'],
        'opponent' : row['player'],
        'opponent_race' : row['player_race'],
        'opponent_score' : row['player_score'],
        'tier' : row['tier']
    })
# end for

df_add = pd.DataFrame(add_rows)
df = pd.concat([df, df_add]).reset_index(drop = True)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S
...,...,...,...,...,...,...,...,...
50453,2024-11-09,Patches,T,2.0,Bludstain,R,0.0,B
50454,2024-11-09,Classic,P,4.0,Trap,P,3.0,B
50455,2024-11-09,Cure,T,1.0,Classic,P,3.0,B
50456,2024-11-09,GuMiho,T,1.0,Trap,P,3.0,B
50457,2024-11-09,Zoun,P,4.0,GuMiho,T,3.0,B

In [7]:
df['player'].value_counts()

player
ByuN           1338
Clem           1285
MaxPax         1106
herO           1105
Solar          1066
               ...
Delthus           1
Changsta          1
Formalshirt       1
Freeedom          1
DrGloson          1
Name: count, Length: 1413, dtype: int64

In [8]:
df[(df['player'] == 'Maya') | (df['opponent'] == 'Maya')]

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier
16591,2025-08-18,Solar,Z,2.0,Maya,T,1.0,B
17493,2025-07-14,Bulmyeolja,P,2.0,Maya,T,0.0,B
17494,2025-07-14,Luolis,T,0.0,Maya,T,2.0,B
17496,2025-07-14,RosscO,P,0.0,Maya,T,2.0,B
23770,2024-12-27,INexorable,T,1.0,Maya,T,0.0,B
23782,2024-12-27,VelvetCrowe,P,0.0,Maya,T,1.0,B
23797,2024-12-27,Maya,T,1.0,SooThSayeR,Z,0.0,B
23868,2024-12-27,Azura,P,2.0,Maya,T,0.0,B
41820,2025-08-18,Maya,T,1.0,Solar,Z,2.0,B
42722,2025-07-14,Maya,T,0.0,Bulmyeolja,P,2.0,B
42723,2025-07-14,Maya,T,2.0,Luolis,T,0.0,B
42725,2025-07-14,Maya,T,2.0,RosscO,P,0.0,B
48999,2024-12-27,Maya,T,0.0,INexorable,T,1.0,B
49011,2024-12-27,Maya,T,1.0,VelvetCrowe,P,0.0,B
49026,2024-12-27,SooThSayeR,Z,0.0,Maya,T,1.0,B
49097,2024-12-27,Maya,T,0.0,Azura,P,2.0,B

In [9]:
df['best_of'] = 2 * df[['player_score', 'opponent_score']].max(axis = 1) - 1
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S,3.0
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S,3.0
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S,7.0
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S,5.0
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S,5.0
...,...,...,...,...,...,...,...,...,...
50453,2024-11-09,Patches,T,2.0,Bludstain,R,0.0,B,3.0
50454,2024-11-09,Classic,P,4.0,Trap,P,3.0,B,7.0
50455,2024-11-09,Cure,T,1.0,Classic,P,3.0,B,5.0
50456,2024-11-09,GuMiho,T,1.0,Trap,P,3.0,B,5.0
50457,2024-11-09,Zoun,P,4.0,GuMiho,T,3.0,B,7.0

In [10]:
df['player_win_prc'] = (df['player_score'] / (df['player_score'] + df['opponent_score'])).round(4)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S,3.0,1.0000
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S,3.0,0.0000
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S,7.0,0.5714
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S,5.0,0.4000
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S,5.0,0.7500
...,...,...,...,...,...,...,...,...,...,...
50453,2024-11-09,Patches,T,2.0,Bludstain,R,0.0,B,3.0,1.0000
50454,2024-11-09,Classic,P,4.0,Trap,P,3.0,B,7.0,0.5714
50455,2024-11-09,Cure,T,1.0,Classic,P,3.0,B,5.0,0.2500
50456,2024-11-09,GuMiho,T,1.0,Trap,P,3.0,B,5.0,0.2500
50457,2024-11-09,Zoun,P,4.0,GuMiho,T,3.0,B,7.0,0.5714

In [11]:
df['target'] = (df['player_score'] > df['opponent_score']).astype(int)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,target
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S,3.0,1.0000,1
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S,3.0,0.0000,0
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S,7.0,0.5714,1
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S,5.0,0.4000,0
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S,5.0,0.7500,1
...,...,...,...,...,...,...,...,...,...,...,...
50453,2024-11-09,Patches,T,2.0,Bludstain,R,0.0,B,3.0,1.0000,1
50454,2024-11-09,Classic,P,4.0,Trap,P,3.0,B,7.0,0.5714,1
50455,2024-11-09,Cure,T,1.0,Classic,P,3.0,B,5.0,0.2500,0
50456,2024-11-09,GuMiho,T,1.0,Trap,P,3.0,B,5.0,0.2500,0
50457,2024-11-09,Zoun,P,4.0,GuMiho,T,3.0,B,7.0,0.5714,1

In [12]:
from dateutil.relativedelta import relativedelta

df = df.sort_values(['player', 'date']).reset_index(drop = True)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,target
0,2025-08-16,5GTV,T,0.0,Maxxima,P,2.0,B,3.0,0.0000,0
1,2019-07-23,ACID,T,0.0,Shino,Z,2.0,A,3.0,0.0000,0
2,2019-07-23,ACID,T,1.0,ArT,P,2.0,A,3.0,0.3333,0
3,2019-12-14,AGIANTSMURF,P,0.0,avilo,T,2.0,A,3.0,0.0000,0
4,2019-12-14,AGIANTSMURF,P,0.0,Rob,P,2.0,A,3.0,0.0000,0
...,...,...,...,...,...,...,...,...,...,...,...
50453,2025-10-31,阳光人族,T,2.0,欲沐东湖,P,1.0,B,3.0,0.6667,1
50454,2025-05-31,雨何时会停,T,0.0,Oriana,T,2.0,B,3.0,0.0000,0
50455,2025-05-31,鹿乃,Z,0.0,大刚猛,P,2.0,B,3.0,0.0000,0
50456,2025-10-11,밀면,T,0.0,ByuN,T,2.0,B,3.0,0.0000,0
50457,2025-01-14,풍등이,T,0.0,Creator,P,2.0,B,3.0,0.0000,0

In [ ]:
from tqdm import tqdm

def add_winrate_features(player_df):
    player_df = player_df.copy()

    for m in range(1, 13):
        for race in ['P', 'T', 'Z', 'all']:
            col_match = f'wr_match_{race}_{m}m'
            col_game = f'wr_game_{race}_{m}m'

            values_match = []
            value_games = []

            for idx, row in player_df.iterrows():
                end = row['date']
                start = end - relativedelta(months = m)

                if race != 'all':
                    window = player_df[
                        (player_df['date'] < end) &
                        (player_df['date'] >= start) &
                        (player_df['opponent_race'] == race)
                    ]
                else:
                    window = player_df[
                        (player_df['date'] < end) &
                        (player_df['date'] >= start)
                    ]
                # end if

                values_match.append(window['player_win_prc'].mean())
                value_games.append(window['target'].mean())
            # end for

            player_df[col_match] = values_match
            player_df[col_game] = value_games
        # end for
    # end for

    return player_df
# end def

df = (
    df
    .groupby('player', group_keys = False)
    .apply(add_winrate_features)
)

In [ ]:
from tqdm import tqdm

def add_winrate_history_features(player_df):
    player_df = player_df.copy()

    for m in range(1, 13):
        col_match = f'wr_match_history_{m}m'
        col_game = f'wr_game_history_{m}m'

        values_match = []
        value_games = []

        for idx, row in player_df.iterrows():
            oponent = row['opponent']
            end = row['date']
            start = end - relativedelta(months = m)

            window = player_df[
                (player_df['date'] < end) &
                (player_df['date'] >= start) &
                (player_df['opponent'] == oponent)
            ]

            values_match.append(window['player_win_prc'].mean())
            value_games.append(window['target'].mean())
        # end for

        player_df[col_match] = values_match
        player_df[col_game] = value_games
    # end for

    return player_df
# end def

df = (
    df
    .groupby('player', group_keys = False)
    .apply(add_winrate_history_features)
)

/tmp/ipykernel_595790/348475692.py:38: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(add_winrate_history_features)

In [ ]:
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,...,wr_match_history_8m,wr_game_history_8m,wr_match_history_9m,wr_game_history_9m,wr_match_history_10m,wr_game_history_10m,wr_match_history_11m,wr_game_history_11m,wr_match_history_12m,wr_game_history_12m
0,2025-08-16,5GTV,T,0.0,Maxxima,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-23,ACID,T,0.0,Shino,Z,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-23,ACID,T,1.0,ArT,P,2.0,A,3.0,0.3333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-14,AGIANTSMURF,P,0.0,avilo,T,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-14,AGIANTSMURF,P,0.0,Rob,P,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49203,2025-10-31,阳光人族,T,2.0,欲沐东湖,P,1.0,B,3.0,0.6667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49204,2025-05-31,雨何时会停,T,0.0,Oriana,T,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49205,2025-05-31,鹿乃,Z,0.0,大刚猛,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49206,2025-10-11,밀면,T,0.0,ByuN,T,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49207,2025-01-14,풍등이,T,0.0,Creator,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import numpy as np

periods = [f"{i}m" for i in range(1, 13)]
race_mapping = {}

for period in periods:
    for race in ['P', 'T', 'Z']:
        race_mapping[(period, 'match', race)] = f'wr_match_{race}_{period}'
        race_mapping[(period, 'game', race)] = f'wr_game_{race}_{period}'
    # end for
# end for

def get_wr_by_race(row, period, stat_type='match'):
    opponent_race = row['opponent_race']
    
    if opponent_race == 'R':
        return np.nan
    # end if
    
    col_name = race_mapping.get((period, stat_type, opponent_race))
    
    if col_name and col_name in row:
        return row[col_name]
    # end if
    return np.nan
# end def

for period in periods:
    df[f'wr_match_vs_opponent_{period}'] = df.apply(
        lambda x: get_wr_by_race(x, period, 'match'), axis=1
    )
    
    df[f'wr_game_vs_opponent_{period}'] = df.apply(
        lambda x: get_wr_by_race(x, period, 'game'), axis=1
    )
# end for

for period in periods:
    conditions = [
        df['opponent_race'] == 'P',
        df['opponent_race'] == 'T',
        df['opponent_race'] == 'Z'
    ]
    
    choices_match = [
        df[f'wr_match_P_{period}'],
        df[f'wr_match_T_{period}'],
        df[f'wr_match_Z_{period}']
    ]
    
    choices_game = [
        df[f'wr_game_P_{period}'],
        df[f'wr_game_T_{period}'],
        df[f'wr_game_Z_{period}']
    ]
    
    df[f'wr_match_vs_opponent_race_{period}'] = np.select(
        conditions, choices_match, default=np.nan
    )
    df[f'wr_game_vs_opponent_race_{period}'] = np.select(
        conditions, choices_game, default=np.nan
    )
# end for

df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,...,wr_match_vs_opponent_race_8m,wr_game_vs_opponent_race_8m,wr_match_vs_opponent_race_9m,wr_game_vs_opponent_race_9m,wr_match_vs_opponent_race_10m,wr_game_vs_opponent_race_10m,wr_match_vs_opponent_race_11m,wr_game_vs_opponent_race_11m,wr_match_vs_opponent_race_12m,wr_game_vs_opponent_race_12m
0,2025-08-16,5GTV,T,0.0,Maxxima,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-23,ACID,T,0.0,Shino,Z,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-23,ACID,T,1.0,ArT,P,2.0,A,3.0,0.3333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-14,AGIANTSMURF,P,0.0,avilo,T,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-14,AGIANTSMURF,P,0.0,Rob,P,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49203,2025-10-31,阳光人族,T,2.0,欲沐东湖,P,1.0,B,3.0,0.6667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49204,2025-05-31,雨何时会停,T,0.0,Oriana,T,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49205,2025-05-31,鹿乃,Z,0.0,大刚猛,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49206,2025-10-11,밀면,T,0.0,ByuN,T,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49207,2025-01-14,풍등이,T,0.0,Creator,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[['player', 'player_race', 'opponent', 'opponent_race', 'tier']] = df[['player', 'player_race', 'opponent', 'opponent_race', 'tier']].astype('category')

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

X_train, X_test, y_train, y_test = train_test_split(
    df.drop(columns = ['player_score', 'opponent_score', 'player_win_prc', 'target', 'date']),
    df['target'],
    test_size = 0.2
)

model = XGBClassifier(n_jobs = -1, enable_categorical = True)
model.fit(X = X_train, y = y_train)
roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])

0.82888777176653

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, model.predict(X_test)))

              precision    recall  f1-score   support

           0       0.73      0.74      0.74      4790
           1       0.75      0.74      0.75      5052

    accuracy                           0.74      9842
   macro avg       0.74      0.74      0.74      9842
weighted avg       0.74      0.74      0.74      9842

In [ ]:
print(classification_report(y_train, model.predict(X_train)))

              precision    recall  f1-score   support

           0       0.94      0.95      0.94     19814
           1       0.94      0.94      0.94     19552

    accuracy                           0.94     39366
   macro avg       0.94      0.94      0.94     39366
weighted avg       0.94      0.94      0.94     39366

In [ ]:
from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = train_test_split(
    df.drop(columns = ['player_score', 'opponent_score', 'player_win_prc', 'target', 'date', 'player', 'player_race', 'opponent', 'opponent_race', 'tier']),
    df['target'],
    test_size = 0.2
)

model = RandomForestClassifier(n_jobs = -1, max_depth = 3)
model.fit(X = X_train, y = y_train)
roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])

0.7157001498846621

In [ ]:
print(classification_report(y_test, model.predict(X_test)))

              precision    recall  f1-score   support

           0       0.68      0.58      0.63      4846
           1       0.64      0.73      0.68      4996

    accuracy                           0.66      9842
   macro avg       0.66      0.66      0.66      9842
weighted avg       0.66      0.66      0.66      9842

In [ ]:
print(classification_report(y_train, model.predict(X_train)))

              precision    recall  f1-score   support

           0       0.69      0.59      0.63     19758
           1       0.64      0.73      0.68     19608

    accuracy                           0.66     39366
   macro avg       0.66      0.66      0.66     39366
weighted avg       0.66      0.66      0.66     39366