In [1]:
%cd './..'
import pandas as pd

/home/masikol/main/Sc2

In [2]:
df = pd.read_csv('./data/dataset.csv', sep = ';')
df

,date,player,player_race,player_score,player_id,opponent,opponent_race,opponent_score,opponent_id,score_match,tier,url,tournament
0,01/18/2026,Rogue,Z,2.0,1662.0,Oliveira,T,0.0,10115.0,2–0,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
1,01/18/2026,MMA,T,0.0,28.0,DRG,Z,2.0,4.0,0–2,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
2,01/18/2026,herO,P,4.0,233.0,Reynor,Z,3.0,5414.0,4–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
3,01/18/2026,Clem,T,2.0,5878.0,Reynor,Z,3.0,5414.0,2–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
4,01/18/2026,herO,P,3.0,233.0,Solar,Z,1.0,1793.0,3–1,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18845,06/19/2025,MaNa,P,0.0,58.0,SKillous,P,1.0,8676.0,0–1,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18846,06/19/2025,SKillous,P,1.0,8676.0,Gerald,P,0.0,8913.0,1–0,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18847,06/19/2025,Percival,T,0.0,19468.0,Gerald,P,1.0,8913.0,0–1,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18848,06/19/2025,Gerald,P,1.0,8913.0,GgMaChine,Z,0.0,21449.0,1–0,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18849,06/19/2025,Moja,T,0.0,11208.0,GgMaChine,Z,1.0,21449.0,0–1,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...

In [3]:
df['date'] = pd.to_datetime(df['date'])
df

,date,player,player_race,player_score,player_id,opponent,opponent_race,opponent_score,opponent_id,score_match,tier,url,tournament
0,2026-01-18,Rogue,Z,2.0,1662.0,Oliveira,T,0.0,10115.0,2–0,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
1,2026-01-18,MMA,T,0.0,28.0,DRG,Z,2.0,4.0,0–2,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
2,2026-01-18,herO,P,4.0,233.0,Reynor,Z,3.0,5414.0,4–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
3,2026-01-18,Clem,T,2.0,5878.0,Reynor,Z,3.0,5414.0,2–3,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
4,2026-01-18,herO,P,3.0,233.0,Solar,Z,1.0,1793.0,3–1,S,http://aligulac.com/results/events/156009,https://liquipedia.net/starcraft2/Thunderfire_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18845,2025-06-19,MaNa,P,0.0,58.0,SKillous,P,1.0,8676.0,0–1,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18846,2025-06-19,SKillous,P,1.0,8676.0,Gerald,P,0.0,8913.0,1–0,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18847,2025-06-19,Percival,T,0.0,19468.0,Gerald,P,1.0,8913.0,0–1,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18848,2025-06-19,Gerald,P,1.0,8913.0,GgMaChine,Z,0.0,21449.0,1–0,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...
18849,2025-06-19,Moja,T,0.0,11208.0,GgMaChine,Z,1.0,21449.0,0–1,B,http://aligulac.com/results/events/153010,https://liquipedia.net/starcraft2/OSC_King_of_...

In [4]:
df = df.drop(columns = ['player_id', 'opponent_id', 'score_match', 'url', 'tournament'])
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S
...,...,...,...,...,...,...,...,...
18845,2025-06-19,MaNa,P,0.0,SKillous,P,1.0,B
18846,2025-06-19,SKillous,P,1.0,Gerald,P,0.0,B
18847,2025-06-19,Percival,T,0.0,Gerald,P,1.0,B
18848,2025-06-19,Gerald,P,1.0,GgMaChine,Z,0.0,B
18849,2025-06-19,Moja,T,0.0,GgMaChine,Z,1.0,B

In [5]:
print(df.shape)
df = df[df['player_score'] != df['opponent_score']].reset_index(drop = True)
print(df.shape)

(18850, 8)
(18176, 8)

In [6]:
add_rows = []

for it, row in df.iterrows():
    add_rows.append({
        'date' : row['date'],
        'player' : row['opponent'],
        'player_race' : row['opponent_race'],
        'player_score' : row['opponent_score'],
        'opponent' : row['player'],
        'opponent_race' : row['player_race'],
        'opponent_score' : row['player_score'],
        'tier' : row['tier']
    })
# end for

df_add = pd.DataFrame(add_rows)
df = pd.concat([df, df_add]).reset_index(drop = True)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S
...,...,...,...,...,...,...,...,...
36347,2025-06-19,SKillous,P,1.0,MaNa,P,0.0,B
36348,2025-06-19,Gerald,P,0.0,SKillous,P,1.0,B
36349,2025-06-19,Gerald,P,1.0,Percival,T,0.0,B
36350,2025-06-19,GgMaChine,Z,0.0,Gerald,P,1.0,B
36351,2025-06-19,GgMaChine,Z,1.0,Moja,T,0.0,B

In [7]:
df['player'].value_counts()

player
Clem           950
ByuN           867
Solar          831
Cure           705
MaxPax         704
              ...
Lon              1
傑洛瑞德拉斯特爾         1
星空               1
Zaens            1
SewerBadger      1
Name: count, Length: 1112, dtype: int64

In [8]:
df[(df['player'] == 'Maya') | (df['opponent'] == 'Maya')]

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier
16591,2025-08-18,Solar,Z,2.0,Maya,T,1.0,B
17493,2025-07-14,Bulmyeolja,P,2.0,Maya,T,0.0,B
17494,2025-07-14,Luolis,T,0.0,Maya,T,2.0,B
17496,2025-07-14,RosscO,P,0.0,Maya,T,2.0,B
34767,2025-08-18,Maya,T,1.0,Solar,Z,2.0,B
35669,2025-07-14,Maya,T,0.0,Bulmyeolja,P,2.0,B
35670,2025-07-14,Maya,T,2.0,Luolis,T,0.0,B
35672,2025-07-14,Maya,T,2.0,RosscO,P,0.0,B

In [9]:
df['best_of'] = 2 * df[['player_score', 'opponent_score']].max(axis = 1) - 1
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S,3.0
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S,3.0
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S,7.0
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S,5.0
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S,5.0
...,...,...,...,...,...,...,...,...,...
36347,2025-06-19,SKillous,P,1.0,MaNa,P,0.0,B,1.0
36348,2025-06-19,Gerald,P,0.0,SKillous,P,1.0,B,1.0
36349,2025-06-19,Gerald,P,1.0,Percival,T,0.0,B,1.0
36350,2025-06-19,GgMaChine,Z,0.0,Gerald,P,1.0,B,1.0
36351,2025-06-19,GgMaChine,Z,1.0,Moja,T,0.0,B,1.0

In [10]:
df['player_win_prc'] = (df['player_score'] / (df['player_score'] + df['opponent_score'])).round(4)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S,3.0,1.0000
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S,3.0,0.0000
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S,7.0,0.5714
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S,5.0,0.4000
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S,5.0,0.7500
...,...,...,...,...,...,...,...,...,...,...
36347,2025-06-19,SKillous,P,1.0,MaNa,P,0.0,B,1.0,1.0000
36348,2025-06-19,Gerald,P,0.0,SKillous,P,1.0,B,1.0,0.0000
36349,2025-06-19,Gerald,P,1.0,Percival,T,0.0,B,1.0,1.0000
36350,2025-06-19,GgMaChine,Z,0.0,Gerald,P,1.0,B,1.0,0.0000
36351,2025-06-19,GgMaChine,Z,1.0,Moja,T,0.0,B,1.0,1.0000

In [11]:
df['target'] = (df['player_score'] > df['opponent_score']).astype(int)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,target
0,2026-01-18,Rogue,Z,2.0,Oliveira,T,0.0,S,3.0,1.0000,1
1,2026-01-18,MMA,T,0.0,DRG,Z,2.0,S,3.0,0.0000,0
2,2026-01-18,herO,P,4.0,Reynor,Z,3.0,S,7.0,0.5714,1
3,2026-01-18,Clem,T,2.0,Reynor,Z,3.0,S,5.0,0.4000,0
4,2026-01-18,herO,P,3.0,Solar,Z,1.0,S,5.0,0.7500,1
...,...,...,...,...,...,...,...,...,...,...,...
36347,2025-06-19,SKillous,P,1.0,MaNa,P,0.0,B,1.0,1.0000,1
36348,2025-06-19,Gerald,P,0.0,SKillous,P,1.0,B,1.0,0.0000,0
36349,2025-06-19,Gerald,P,1.0,Percival,T,0.0,B,1.0,1.0000,1
36350,2025-06-19,GgMaChine,Z,0.0,Gerald,P,1.0,B,1.0,0.0000,0
36351,2025-06-19,GgMaChine,Z,1.0,Moja,T,0.0,B,1.0,1.0000,1

In [12]:
from dateutil.relativedelta import relativedelta

df = df.sort_values(['player', 'date']).reset_index(drop = True)
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,target
0,2025-08-16,5GTV,T,0.0,Maxxima,P,2.0,B,3.0,0.0000,0
1,2019-07-23,ACID,T,0.0,Shino,Z,2.0,A,3.0,0.0000,0
2,2019-07-23,ACID,T,1.0,ArT,P,2.0,A,3.0,0.3333,0
3,2019-12-14,AGIANTSMURF,P,0.0,avilo,T,2.0,A,3.0,0.0000,0
4,2019-12-14,AGIANTSMURF,P,0.0,Rob,P,2.0,A,3.0,0.0000,0
...,...,...,...,...,...,...,...,...,...,...,...
36347,2019-07-27,習禁評,P,0.0,新手,T,3.0,A,5.0,0.0000,0
36348,2025-08-16,軟軟貓,T,0.0,XiaosunStorM,P,2.0,B,3.0,0.0000,0
36349,2025-10-31,阳光人族,T,0.0,GogojOey,Z,2.0,B,3.0,0.0000,0
36350,2025-10-31,阳光人族,T,2.0,欲沐东湖,P,1.0,B,3.0,0.6667,1
36351,2025-10-11,밀면,T,0.0,ByuN,T,2.0,B,3.0,0.0000,0

In [13]:
from tqdm import tqdm

def add_winrate_features(player_df):
    player_df = player_df.copy()

    for m in range(1, 13):
        for race in ['P', 'T', 'Z']:
            col_match = f'wr_match_{race}_{m}m'
            col_game = f'wr_game_{race}_{m}m'

            values_match = []
            value_games = []

            for idx, row in player_df.iterrows():
                end = row['date']
                start = end - relativedelta(months = m)

                window = player_df[
                    (player_df['date'] < end) &
                    (player_df['date'] >= start) &
                    (player_df['opponent_race'] == race)
                ]

                values_match.append(window['player_win_prc'].mean())
                value_games.append(window['target'].mean())
            # end for

            player_df[col_match] = values_match
            player_df[col_game] = value_games
        # end for
    # end for

    return player_df
# end def

df = (
    df
    .groupby('player', group_keys = False)
    .apply(add_winrate_features)
)

/tmp/ipykernel_549590/2562783407.py:39: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(add_winrate_features)

In [14]:
df

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,...,wr_match_T_11m,wr_game_T_11m,wr_match_Z_11m,wr_game_Z_11m,wr_match_P_12m,wr_game_P_12m,wr_match_T_12m,wr_game_T_12m,wr_match_Z_12m,wr_game_Z_12m
0,2025-08-16,5GTV,T,0.0,Maxxima,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-23,ACID,T,0.0,Shino,Z,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-23,ACID,T,1.0,ArT,P,2.0,A,3.0,0.3333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-14,AGIANTSMURF,P,0.0,avilo,T,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-14,AGIANTSMURF,P,0.0,Rob,P,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36347,2019-07-27,習禁評,P,0.0,新手,T,3.0,A,5.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36348,2025-08-16,軟軟貓,T,0.0,XiaosunStorM,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36349,2025-10-31,阳光人族,T,0.0,GogojOey,Z,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36350,2025-10-31,阳光人族,T,2.0,欲沐东湖,P,1.0,B,3.0,0.6667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36351,2025-10-11,밀면,T,0.0,ByuN,T,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import numpy as np

periods = [f"{i}m" for i in range(1, 13)]
race_mapping = {}

for period in periods:
    for race in ['P', 'T', 'Z']:
        race_mapping[(period, 'match', race)] = f'wr_match_{race}_{period}'
        race_mapping[(period, 'game', race)] = f'wr_game_{race}_{period}'
    # end for
# end for

def get_wr_by_race(row, period, stat_type='match'):
    opponent_race = row['opponent_race']
    
    if opponent_race == 'R':
        return np.nan
    # end if
    
    col_name = race_mapping.get((period, stat_type, opponent_race))
    
    if col_name and col_name in row:
        return row[col_name]
    # end if
    return np.nan
# end def

for period in periods:
    df[f'wr_match_vs_opponent_{period}'] = df.apply(
        lambda x: get_wr_by_race(x, period, 'match'), axis=1
    )
    
    df[f'wr_game_vs_opponent_{period}'] = df.apply(
        lambda x: get_wr_by_race(x, period, 'game'), axis=1
    )
# end for

for period in periods:
    conditions = [
        df['opponent_race'] == 'P',
        df['opponent_race'] == 'T',
        df['opponent_race'] == 'Z'
    ]
    
    choices_match = [
        df[f'wr_match_P_{period}'],
        df[f'wr_match_T_{period}'],
        df[f'wr_match_Z_{period}']
    ]
    
    choices_game = [
        df[f'wr_game_P_{period}'],
        df[f'wr_game_T_{period}'],
        df[f'wr_game_Z_{period}']
    ]
    
    df[f'wr_match_vs_opponent_race_{period}'] = np.select(
        conditions, choices_match, default=np.nan
    )
    df[f'wr_game_vs_opponent_race_{period}'] = np.select(
        conditions, choices_game, default=np.nan
    )
# end for

df

/tmp/ipykernel_549590/3697124949.py:28: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[f'wr_game_vs_opponent_{period}'] = df.apply(

,date,player,player_race,player_score,opponent,opponent_race,opponent_score,tier,best_of,player_win_prc,...,wr_match_vs_opponent_8m,wr_game_vs_opponent_8m,wr_match_vs_opponent_9m,wr_game_vs_opponent_9m,wr_match_vs_opponent_10m,wr_game_vs_opponent_10m,wr_match_vs_opponent_11m,wr_game_vs_opponent_11m,wr_match_vs_opponent_12m,wr_game_vs_opponent_12m
0,2025-08-16,5GTV,T,0.0,Maxxima,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-23,ACID,T,0.0,Shino,Z,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-23,ACID,T,1.0,ArT,P,2.0,A,3.0,0.3333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-14,AGIANTSMURF,P,0.0,avilo,T,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-14,AGIANTSMURF,P,0.0,Rob,P,2.0,A,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36347,2019-07-27,習禁評,P,0.0,新手,T,3.0,A,5.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36348,2025-08-16,軟軟貓,T,0.0,XiaosunStorM,P,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36349,2025-10-31,阳光人族,T,0.0,GogojOey,Z,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36350,2025-10-31,阳光人族,T,2.0,欲沐东湖,P,1.0,B,3.0,0.6667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36351,2025-10-11,밀면,T,0.0,ByuN,T,2.0,B,3.0,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

X_train, X_test, y_train, y_test = train_test_split(
    df.drop(columns = ['player_score', 'opponent_score', 'player_win_prc', 'target', 'date']),
    df['target'],
    test_size = 0.2
)

model = XGBClassifier(n_jobs = -1, enable_categorical = True)
model.fit(X = X_train, y = y_train)
roc_auc_score(y_test, model.predict_proba(X_test)[:, 1])

0.9467003781839665

In [52]:
from sklearn.metrics import classification_report

print(classification_report(y_test, model.predict(X_test)))

              precision    recall  f1-score   support

           0       0.84      0.84      0.84      3632
           1       0.84      0.85      0.84      3639

    accuracy                           0.84      7271
   macro avg       0.84      0.84      0.84      7271
weighted avg       0.84      0.84      0.84      7271

In [53]:
print(classification_report(y_train, model.predict(X_train)))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     14544
           1       0.99      0.99      0.99     14537

    accuracy                           0.99     29081
   macro avg       0.99      0.99      0.99     29081
weighted avg       0.99      0.99      0.99     29081